@model IEnumerable<LPX2YCDProject2020.Models.PortalModels.Bursary>

@{
    ViewData["Title"] = "ListBursaries";
    Layout = "~/Views/Shared/_UserAdminLayout.cshtml";
}

<h1>ListBursaries</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.openingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredDocuments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumRequirements)
            </th>
            <th>
                Required subjects
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.openingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClosingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredDocuments)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimumRequirements)
                </td>
                <td>
                    @foreach (var a in item.BursaryCourses)
                    {
                        @a?.Course.CourseName
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
