
@{
    Layout = "~/Views/Shared/_UserAdminLayout.cshtml";

    //Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@model StudentProfileViewModel


<div class=" container">
    <form asp-action="AddStudentSubjects">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

        <input hidden="hidden" asp-for="@Model.Subjects.UserId" value="@User.FindFirst("studGroup").Value">
        <div class="table table-bordered table-active">
            <div class="row">

                <div class="col-sm-2">
                    Subject
                </div>

                <div class="col-sm-1">
                    Year
                </div>

                <div class="col-sm-1">
                    Term 1
                </div>

                <div class="col-sm-1">
                    Term 2
                </div>

                <div class="col-sm-1">
                    Term 3
                </div>

                <div class="col-sm-1">
                    Term 4 target
                </div>
                <div class="col-sm-5">
                    Tell us more
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    @if (ViewBag.SubjectList != null)
                    {
                        <select id="SubjectId" asp-for="@Model.Subjects.SubjectId" class="form-control" asp-items="@ViewBag.SubjectList">
                            <option>--Select subject--</option>
                        </select>

                    }
                    <span asp-validation-for="@Model.Subjects.SubjectId" class="text-danger" hidden="hidden"></span>
                </div>

                <div class="col-sm-1">
                    <input value="@DateTime.Now.Year.ToString()" asp-for="@Model.Subjects.Year" id="Year" class="form-control" disabled="disabled" />
                </div>

                <div class="col-sm-1">
                    <input asp-for="@Model.Subjects.FirstTermMark" id="FirstTermMark" class="form-control" />
                    <span asp-validation-for="@Model.Subjects.FirstTermMark" class="text-danger" hidden="hidden"></span>
                </div>

                <div class="col-sm-1">
                    <input asp-for="@Model.Subjects.SecondTermMark" id="SecondTermMark" class="form-control" />
                    <span asp-validation-for="@Model.Subjects.SecondTermMark" class="text-danger" hidden="hidden"></span>
                </div>

                <div class="col-sm-1">
                    <input asp-for="@Model.Subjects.ThirdTermMark" id="ThirdTermMark" class="form-control" />
                    <span asp-validation-for="@Model.Subjects.SecondTermMark" class="text-danger" hidden="hidden"></span>
                </div>

                <div class="col-sm-1">
                    <input asp-for="@Model.Subjects.Target" id="Target" class="form-control" />
                    <span asp-validation-for="@Model.Subjects.SecondTermMark" class="text-danger" hidden="hidden"></span>
                </div>

                <div class="col-sm-3">
                    <textarea asp-for="@Model.Subjects.Comments" cols="2" rows="2" class="form-control" id="Comments" placeholder="We want to hear from you"></textarea>
                </div>
                <div class=" col-sm-2">
                    <input type="submit" id="SendToDb" value="Add" class="btn btn-sm btn-primary" />
                </div>
            </div>
        </div>
       
    </form>

    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Subject name</th>
                <th>Year</th>
                <th>Term 1 mark</th>
                <th>Term 2 mark</th>
                <th>Term 3 mark</th>
                <th>Term 4 goal</th>
                <th>Comments</th>
                <th>Actions</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.EnrolledSubjects != null)
            {
                @foreach (var c in Model?.EnrolledSubjects)
                {
                    <tr>
                        <td class="col">
                            @Html.DisplayFor(v => c.Subjects.SubjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(v => c.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(v => c.FirstTermMark)
                        </td>
                        <td>
                            @Html.DisplayFor(v => c.SecondTermMark)
                        </td>
                        <td>
                            @Html.DisplayFor(v => c.ThirdTermMark)
                        </td>
                        <td>
                            @Html.DisplayFor(v => c.Target)
                        </td>
                        <td>
                            @Html.DisplayFor(z => c.Comments)
                        </td>
                        <td>
                           <a class="btn btn-primary" asp-action="EditStudentSubjects" asp-route-id="@c.Id" >Edit</a>
                            <partial name="_tableButtonPartialView" model="new ButtonPartialModel {ServiceID = c.Id}" />
                            <input asp-for="@Model.Subjects.Subjects.Id" name="Id" hidden="hidden" />

                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/site.js"></script>
<script src="~/bootstrap/dist/js/bootstrap.min.js"></script>



@section scripts
{

    <script type="text/javascript">

        //$(document).ready(function () {

        //    $('[data-toggle="tooltip"]').tooltip();
        //    $('[data-toggle="modal"]').modal();

        //    $('#btnEdit').click(function () {

        //        var obj = {};
        //        obj.Id = $(this).attr('data-id');

        //        $.ajax({
        //            type: 'GET',
        //            url: '/Account/Find/' + JSON.stringify(obj),
        //            dataType: 'html',

        //            success: function (response) {
        //                $('#editEnrolmentModal #Year1').val(response.Year);
        //                $('#editEnrolmentModal #Id1').val(response.Id);
        //                $('#editEnrolmentModal #UserId1').val(response.UserId);
        //                $('#editEnrolmentModal #FirstTermMark1').val(response.FirstTermMark);
        //                $('#editEnrolmentModal #SecondTermMark1').val(response.SecondTermMark);
        //                $('#editEnrolmentModal #ThirdTermMark1').val(response.ThirdTermMark);
        //                $('#editEnrolmentModal #Target1').val(response.Target);
        //                $('#editEnrolmentModal #Comments1').val(response.Comments);
        //                $('#editEnrolmentModal #SubjectId1').val(response.SubjectId);

        //            }
        //        });
        //    });
        //});
        //$("#btnEdit").click(function () {
        //        $("#MyPopup").modal("hide");
        //        var obj = {};
        //        obj.Id = $(this).attr('data-id');

        //        $.ajax({
        //            url: 'Account/EditStudentSubjects',
        //            data: JSON.stringify(obj),
        //            type: 'GET',
        //            dataType: 'html',
        //            contentType: "application/json; charset=utf-8",
        //            success: function (response) {
        //                $("#dvPartial").html(response);
        //                $("#MyPopup").modal("show");
        //            }
        //        });
        //    });
        //onclick = "$('#editEnrolmentModal').modal('show');"

        @*$('#SendToDb').click(function () {
            var Year = $('#Year').val();
            var subjectId = $('#SubjectId').val();
            var term1Mark = $('#FirstTermMark').val();
            var term2Mark = $('#SecondTermMark').val();
            var term3Mark = $('#ThirdTermMark').val();
            var term4Mark = $('#Target').val();
            var comments = $('#Comments').val();
            var dataString = "subjectId=" + subjectId + "&term1Mark=" + term1Mark + "&term2Mark=" + term2Mark + "&term3Mark=" + term3Mark + "&term3Mark=" + term3Mark + "&term4Mark=" + term4Mark + "&comments=" + comments + "&year=" + Year;

            if ((term1Mark < 0 || term1Mark > 100) || (term2Mark < 0 || term2Mark > 100) || (term3Mark < 0 || term3Mark > 100) || (term4Mark < 0 || term4Mark > 100)) {
                alert('Error!' + "/n" + 'Marks cannot be less than 0 or greater than 100!');
                $('#FirstTermMark').empty();
                $('#SecondTermMark').empty();
                $('#ThirdTermMark').empty();
                $('#Target').empty();
                $('#Comments').empty();
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddStudentSubjects")',
                    dataType: 'json',
                    data: dataString,

                    success: function (response) {
                        alert("Successfully added.");
                        $('#FirstTermMark').empty();
                        $('#SecondTermMark').empty();
                        $('#ThirdTermMark').empty();
                        $('#Target').empty();
                        $('#Comments').empty();
                    },
                    error: function (response) {
                        alert('an error has occured');
                        $('#FirstTermMark').empty();
                        $('#SecondTermMark').empty();
                        $('#ThirdTermMark').empty();
                        $('#Target').empty();
                        $('#Comments').empty();
                    }
                });
            }
        });*@
    </script>
} 