
@{
    ViewData["Title"] = "Update profile";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@model StudentProfileModel

@{ dynamic data = ViewBag.suburbList;}

<div class="container">
    <h2>My profile</h2>




    <div class="row">
        <div class="col">

            <div class="accordion" id="accordionExample">

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Personal Details
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="col">
                                <h3>My details</h3>
                                Username/Email:. @User.FindFirst("EmailAddr").Value<br />
                                Full name:. @User.FindFirst("UserFirstName").Value &nbsp; @User.FindFirst("UserLastName").Value<br />
                                ID number:. @User.FindFirst("IDNo").Value <br />
                                Date of birth:. @User.FindFirst("UserDoB").Value<br />
                                Cell number:. @User.FindFirst("CellNo").Value
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item border border-primary">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Address
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <form asp-action="UpdateAddress">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <input asp-for="@Model.UserId" hidden="hidden" value="@User.FindFirst("studGroup").Value">

                                <div class="form-group">
                                    <label asp-for="@Model.AddressLine1" class="control-label"></label>
                                    <input asp-for="@Model.AddressLine1" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.AddressLine2" class="control-label"></label>
                                    <input asp-for="@Model.AddressLine2" class="form-control" />
                                </div>

                                @if (ViewBag.ProvinceList != null)
                                {
                                    <div class="form-group">
                                        <label asp-for="ProvinceId" class="control-label"></label>
                                        <select asp-for="@Model.ProvinceId" class="form-control" asp-items="@ViewBag.ProvinceList">
                                            <option>--Select province--</option>
                                        </select>

                                    </div>
                                }

                                <div class="form-group">
                                    <label asp-for="CityId" class="control-label"></label>
                                    <select asp-for="@Model.CityId" id="CityId" class="form-control">
                                        <option> --Please select city--</option>
                                    </select>

                                </div>

                                <div class="form-group">
                                    <label asp-for="SuburbId" class="control-label"></label>
                                    <select asp-for="@Model.SuburbId" id="SuburbId" class="form-control">
                                        <option> --Please select suburb--</option>
                                    </select>

                                </div>

                                <div class="form-group">
                                    <input class="control-label" asp-for="suburb.PostalCode" disabled="disabled" />
                                </div>
                                <div class="form-group">
                                    <input id="Country" disabled="disabled" asp-for="suburb.City.Province.Country" class="control-label" />
                                </div>



                                <input type="submit" value="Submit" class="btn btn-primary" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Educational Profile
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <form asp-action="UpdateEducationalProfile">

                                <input asp-for="@Model.UserId" hidden="hidden" value="@User.FindFirst("studGroup").Value">
                                <div>
                                    <div class="form-group">
                                        <label asp-for="@Model.NameOfSchool" class="control-label"></label>
                                        <input asp-for="@Model.NameOfSchool" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="@Model.Grade" class="control-label"></label>
                                        <input asp-for="@Model.Grade" class="form-control" />
                                    </div>

                                    <button id="AddSchoolAndGrade" class="btn btn-sm btn-primary">Save</button>
                                </div>



                                @if (ViewBag.SubjectList != null)
                                {
                                    <div class="form-group">
                                        <div class=" row">
                                            <label class="control-label" asp-for="subjectId"></label>
                                            <select asp-for="@Model.subjectId" class="form-control" asp-items="@ViewBag.SubjectList">
                                                <option>--Select subject--</option>
                                            </select>
                                        </div>
                                    </div>
                                }



                            </form>
                            <table class="table table-hover table-condensed">

                                    <thead>
                                        <tr>
                                            <th> Subject</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                <tbody>
                                    <tr>
                                        <td  id="SubjectList">


                                        </td>
                                    </tr>
                                </tbody>
                                   

                               
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>*@
<script src="~/lib/jquery/jquery.min.js"></script>

@section scripts{

    <script type="text/javascript">

        @*$(document).load(function () {

            $("#subjectId").change(function () {

                ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSubjectDetails")',
                    dataType: 'json',

                    success: function (data) {
                        $.each(data, function (i, loc) {
                            $("#SubjectList").append('<label id=' + i.value + 'class= "control-label" >' + i.text + '</label > ');
                        });
                    },
                    error: function () {
                        alrert('error loading subjects')
                    }

                });
            });
        });*@

        $(document).ready(function ()
        {

            $("AddSchoolAndGrade").click(function () {

                var nameOfSchool = $("#NameOfSchool");
                var LearnerGrade = $("#Grade");

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveSchooAndGrade")',
                    dataType: 'json',
                    data: {
                        school: $(nameOfSchool).val(),
                        grade: $(LearnerGrade)
                    },
                    success : function(data) {

                    }
                })
            });


            $("#ProvinceId").change(function () {
                $("#SuburbId").empty();
                $("#CityId").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetCityList")',
                    dataType: 'json',
                    data: { provinceId: $("#ProvinceId").val() },

                    success: function (cities) {
                        $("#CityId").append('<option value="' + -1 + '">' + "--Select city--" + '</option>');

                        $.each(cities, function (i, city) {
                            $("#CityId").append('<option value="' + city.value + '">' + city.text + '</option>');
                        });
                    },
                    error: function () {
                        alert('an error has occured');
                    }
                });
                return false;
            });

             $("#CityId").change(function () {
                $("#SuburbId").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSuburbList")',
                    dataType: 'json',
                    data: { CityId: $("#CityId").val() },

                    success: function (suburb) {
                        $("#SuburbId").append('<option value="' + -1 + '">' + "--Select suburb--" + '</option>');

                        $.each(suburb, function (i, local) {
                            $("#SuburbId").append('<option value="' + local.value + '">' + local.text + '</option>');
                        });
                    }
                });
                return false;
             });

            $("#SuburbId").change(function () {
                $("#PostalCode").empty();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSuburbPCode")',
                    dataType: 'json',
                    data: { CityId: $("#SuburbId").val() },

                    success: function (PostalCode) {
                        $.each(PostalCode, function (i, local) {
                            $("#PostalCode").append('<input text=' + local.text + '/>');
                        });
                    }
                });
                return false;
            });

            @*$("#subjectId").change(function () {

                var $Id = $('#StudentIdNumber');
                var $subjectId = $('#subjectId');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddStudentSubjects")',
                    dataType: 'json',
                    data: {
                        SubjectId: $subjectId.val(),
                        studentId: $Id.val()
                    },

                    success: function (data) {
                        $('#subjectId').empty();
                        alert('Added Successfully.. Select to add all that apply to you.');
                    },
                    error: function () {
                        alert('an error has occured');
                    }
                });


            });*@


            $("#subjectId").change(function () {

                ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSubjectDetails")',
                    dataType: 'json',

                    success: function (data) {
                        $.each(data, function (i, loc) {
                            $("#SubjectList").append('<label id=' + i.loc + 'class= "control-label" >' + i.loc + '</label > ');
                        });
                    },
                    error: function () {
                        alrert('error loading subjects')
                    }

                });
            });
        });
    </script>
}

