@model ContactUsModel
<div class="col">
  
        <p>
            Looking for some information?
            <br />
            Fill out this form and we'll get back to you shortly
            <br />
            Or Call us on: @Model.ContactNumber
            <br />
            Email: @Model.EmailAddress
            <br />
            You can alternatively drop us an note here: <br />
            @Model.BusinessName<br /><hr />
            @Model.AddressLine1<br />
            @Model.AddressLine2<br />
            @Model.SuburbName<br />
            @Model.CityName<br />
            @Model.ProvinceName<br />
            @Model.PostalCode<br />
            @Model.Country<br />
        </p>
</div>