@model IQueryable<StudentSubjects>
<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
</button>-->
<!-- Modal -->
<div class="container">
    <h4>Update enrolment</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditStudentSubjects" asp-controller="Account">

                <div asp-validation-summary="ModelOnly"></div>
                @foreach (var a in Model)
                {
                    <input value="@DateTime.Now.Year.ToString()" asp-for="@a.Year" id="Year" class="form-control" hidden="hidden" />
                    <input hidden="hidden" asp-for="@a.UserId" value="@User.FindFirst("studGroup").Value">
                    <input asp-for="@a.Subjects.Id" hidden="hidden" />
                    <div class="row">
                        <div class="col-sm-2">
                            @if (ViewBag.SubjectList != null)
                            {
                                <select id="SubjectId" asp-for="@a.Subjects" class="form-control" asp-items="@ViewBag.SubjectList">
                                    <option>--Select subject--</option>
                                </select>
                            }
                        </div>

                        <div class="col-sm-1">
                        </div>

                        <div class="col-sm-1">
                            <input asp-for="@a.FirstTermMark." id="FirstTermMark" class="form-control" />
                        </div>

                        <div class="col-sm-1">
                            <input asp-for="@a.SecondTermMark" id="SecondTermMark" class="form-control" />
                        </div>

                        <div class="col-sm-1">
                            <input asp-for="@a.ThirdTermMark" id="ThirdTermMark" class="form-control" />
                        </div>

                        <div class="col-sm-1">
                            <input asp-for="@a.Target" id="Target" class="form-control" />
                        </div>

                        <div class="col-sm-5">
                            <textarea asp-for="@a.Comments" cols="2" rows="2" class="form-control" id="Comments" placeholder="We want to hear from you"></textarea>
                        </div>
                    </div>

                }
                <input type="submit" id="SendToDb" value="Add" class="btn btn-primary" />
            </form>

        </div>
    </div>
</div>
